#div6, #div7, #div8 {width: 200px; height: 200px;}
#div6 {background-color: #B2CCFF;}
#div7 {background-color: rgb(255, 0, 0);}
#div8 {background-color: rgba(255, 0, 0, 0.1);}

* { margin: 0; padding: 0;}

#div5 h3:nth-child(2) {background-color: purple;} /*자식 전체 중 하나 선택*/
#div5 h4:nth-child(6) {background-color: peru;}
#div5 h4:nth-of-type(3) {background-color: gold;} /*자식 중 특정 태그에서 하나 선택*/

#div4 ~ div {background-color: red;} /*형제선택자*/
#div4 + div {background-color: blue;} /*인접선택자*/

#div3 {width: 200px; height: 200px; background-color: green;}
#div3 > div > h3 {color: aqua;}

#div2 {width: 200px; height: 200px; background-color: gold;}
#div2 > h3 {color: green;} /*자식선택자*/

#div1 {width: 200px; height: 200px; background-color: gray;}
#div1 h3 {color: red;} /*하위선택자*/