ul {margin: 0; padding: 0;}
li {width: 100px; list-style: none;
    text-align: center; height: 40px; line-height: 40px;}
#nav {width: 400px; background-color: gold;}
/*1,2번 문제 적용
#menu {display: flex;}*/
.menu1 {
    /* height: 120px; 
    display: none; 
    border: 1px solid;*/
    /*overflow: hidden;
    transition: 0.5s;*/
    height: 0;
    overflow: hidden;
    border-radius: 15px;
    margin-left: 100px;
    margin-top: -40px;
    width: 100px;
    background-color: aqua;
}
/* 1, 3번 적용*/
#menu li:hover .menu1 {   
        /* display: block; */
        height: 120px;
        border: 1px solid;
}

/*2번문제*/
/* #menu:hover .menu1 { 
        height: 120px;
        border: 1px solid;
} */
