#div1{
    width: 100px; height: 100px;
    border-radius: 100px;
    border: 2px solid black;
    overflow: hidden;
}
img {width: 100px; height: 100px;
    transition: 1s;}
#div1:hover img{
    transform: scale(4) rotate(360deg);
}
#div1:hover ~ #div2{
    margin-top: -0px;
    color: navy;
    transition: 0.5s;
}
#div2 {
    transition: 3s;
    width: 100px; text-align: center;
    margin-top: -70px;
    font-size: 30px;
    color: white;
}
